<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script src="https://kit.fontawesome.com/2de6948804.js" crossorigin="anonymous"></script>

  <title>A Walk of Life</title>

  <!-- Link the main.css stylesheet -->

  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body style="position: relative;">
  <div style="position: absolute; height: 100%;"><img class="moneyshot" src="/src/Portraitdarker.png" style="height:100%; transition: ease-in 1s"></div>
  <div id="mySidenav" class="sidenav">
    <div class="posWrapper hidden">
      <div><img class="portrait" src="/src/profile.jpg"></div>
      <div class="skills col-lg-2">
        <h5 style="margin-bottom: 20px">PROFICIENCIES</h5>
        <div class="skillType">
          <div class="skillHeader">
            <i class="fas fa-greater-than" onclick="headerClick(1);"></i>
            <h6 style="transition: opacity 0.15s;" class="sHeader Head0">Programming</h6>
            <i class="fas fa-less-than" style="text-align: right;" onclick="headerClick(-1);"></i>
          </div>
          <% skills.forEach(skillSet => { %>
          <div style="transition: opacity 1s;" class="skill type<%=skillSet.category - 1%> <%if(skillSet.category - 1!=0){%>hideskill<%}%>">
                                <%=skillSet.desc%><br/>
                                    <% for( let j = 0; j < 10; j++ ) { %>
                                        <% if (j < 10 - skillSet.lvl) { %> <i class=" far fa-circle"></i>
            <% } else { %><i class="fas fa-circle"></i>
            <% } %>
            <% }%>
          </div>
          <%}) %>
        </div>

      </div>

      <div class="navigCont">
        <div class="sideContent">
          <a class="navigText abt" href="#about"><i class="fas fa-quote-left"></i> <i class="fas fa-quote-right"></i></a>
          <a class="navigText" href="#education"><i class="fas fa-user-graduate"></i></a>
          <a class="navigText" href="#workExp"><i class="fas fa-briefcase"></i></a>
          <a class="navigText" href="#awards"><i class="fas fa-trophy"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div id="main" style="height: 100%;" onclick="toggleSidebar();">
    <div class="header" style="height: 100% !important;" id="headerwrap">
      <div style="height: 43%;"></div>
      <div class="container">
        <div class="row centered hiding">
          <div class="col-lg-12" style="mix-blend-mode: difference; color:whitesmoke">
            <h1>Christyasto Priyonggo Pambudi</h1>
            <h3>Research Officer | Aspiring Developer</h3>
          </div>
          <!--/.col-lg-12-->
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.#headerwrap-->

    <section id="about" name="about"></section>
    <div class="about">
      <div class="container desc">
        <div class="row">
          <div class="col-lg-2 col-1">
            <h5>ABOUT</h5>
          </div>
          <div class="col-lg-7" style="text-align: justify;">
            <p>A designer, possessing a good background in CAD and several programming languages, with a strong interest in the interplay between design, fabrication, and computation. A hardworking, forward-looking individual with a desire to
              serve. Always looking forward to learning a new trade!</p>
          </div>
          <div class="col-lg-3" style="text-align: right;display: flex !important; align-items: center; justify-content: center;">
            <p class="contacts">
              <a download href="/src/Christyasto-Resume.pdf">
                <i class="far fa-file-pdf" style="font-size:x-large;"></i>
                DOWNLOAD PDF
              </a>
            </p>
          </div>
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/ #intro-->
    <section id="resume" name="resume">
      <div class="contacts" style="display: flex; width: 100%; text-align: center;">
        <div style="flex: 100%; justify-content: space-around; display: inline;"><a href="mailto:christyasto.chito@gmail.com" target="_blank" style="display: flex; justify-content: center;"><i class="far fa-envelope"></i><span>christyasto.chito @ gmail</span></a></div>
        <div style="flex: 100%; justify-content: space-around; display: inline;"><a href="https://bit.ly/3FHrQKk" target="_blank" style="display: flex; justify-content: center;"><i class="fab fa-git-alt"></i><span>christyasto</span></a></div>
        <div style="flex: 100%; justify-content: space-around; display: inline;"><a href="https://bit.ly/3AufBwV" target="_blank" style="display: flex; justify-content: center;"><i class="fab fa-instagram"></i><span>isyasowiyongo.cpp</span></a></div>
      </div>
    </section>
    <!-- EDUCATION SECTION -->
    <div class="container desc" id="education">
      <hr>
      <br>
      <div class="row">

        <div class="col-lg-2">
          <h5>EDUCATION</h5>
        </div>
        <!-- EDIT: education line 1 -->
        <div class="col-lg-7">
          <p>
            <t>Bachelor of Science (Architecture)</t><br /> Singapore University of Technology and Design
            <!--<br/><i>Extra info here</i>-->
          </p>
        </div>
        <div class="col-lg-3" style="text-align: right;">
          <p>
            <sm>Class of 2017</sm><br />
            <imp>
              <sm><i class='fas fa-graduation-cap'></i> cum laude</sm>
            </imp>
          </p>
        </div>
      </div>
      <!--/.row -->
      <br>
      <hr>
      <br>

    </div>
    <!--/.container -->

    <!-- WORK SECTION -->
    <div class="container desc" id="workExp">
      <div class="row">

        <div class="col-lg-2">
          <h5>WORK EXPERIENCE</h5>
        </div>
        <!-- EDIT: work line 1 -->
        <% var count = 0; %>
        <% workexp.slice().reverse().forEach(exp => { %>
        <% if (count != 0) { %>

        <div class="col-lg-2"></div>
        <% } %>
        <div class="col-lg-7 HoverExp-<%=count%> Hover">
          <p class="tight">
            <t>
              <%= exp.position %>
            </t><br />
            <%= exp.company %><br />
          </p>
          <p>
          <ul>
            <% checker = false; for(let i = 0; i < jobscope.length; i++) { %> 
            <% if(count+1 == jobscope[i].id_job) {%>
            <li>
              <%= jobscope[i].scope %>
            </li>
            <% checker = true; } else if (checker && count+1 != jobscope[i].id_job) { break; } %>
            <% } %>
          </ul>
          </p>
        </div>
        <div class="col-lg-3 HoverExp-<%=count%> Hover" style="text-align: right;">
          <p>
            <sm>
              <%= exp.period %><br /><i class='fas fa-map-marker-alt'></i>
              <%= exp.location %>
            </sm>
          </p>
        </div>
        <% count++; }) %>
      </div>
      <!--/.row -->
      <br>
      <hr>
      <br>
    </div>
    <!--/.container -->


    <!-- AWARDS SECTION -->
    <div class="container desc" id="awards">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h5>COMPETITIONS</h5>
        </div>
        <% count = 0; %>
        <% compet.slice().reverse().forEach(compt => { %>
        <% if (count != 0) { %>

        <div class="col-lg-2"></div>
        <% } %>

        <!-- EDIT: awards line 1-->
        <div class="col-lg-7 HoverComp-<%=count%> Hover">
          <p>
            <t>
              <%= compt.name %>
            </t><br />
            <%= compt.company %><br />
          </p>
        </div>
        <div class="col-lg-3 HoverComp-<%=count%> Hover" style="text-align: right;">
          <p>
            <sm>
              <%= compt.period %><br />
              <% if (compt.position != "" && compt.position != null) { %>

              <i class='fas fa-award'></i>
              <%= compt.position %>
              <% } %>
            </sm>
          </p>
        </div>
        <% count++; }) %>
      </div>
      <!--/.row -->
      <br>
    </div>
    <!--/.container -->
  </div>
  <!--/.main id -->

  <script>
    var navOpen = false;
    var scrol = false;
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
      $("#mySidenav").addClass("openNavSide");
      $("#main").addClass("openNavMain");
      navOpen = true;
      setTimeout(() => {
        $(".posWrapper").removeClass("hidden");
      }, 100);
      $(".moneyshot").addClass("flatside");
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
      $(".posWrapper").addClass("hidden");
      navOpen = false;
      scrol = true;
      $('body').addClass('stop-scrolling')
      setTimeout(() => {
        $("#mySidenav").removeClass("openNavSide");
        $("#main").removeClass("openNavMain");
        if($(window).width()>450){
        window.scrollTo(0, 0);
        }
      }, 200);
      setTimeout(() => {
        $('body').removeClass('stop-scrolling');
        scrol = false;
      }, 1000);
      $(".moneyshot").removeClass("flatside");

    }

    $(".Hover").hover(function() {
      $("." + $(this).attr('class').split(" ")[1].toString()).css("background-color", "#cbcbcb");
      $("." + $(this).attr('class').split(" ")[1].toString()).css("font-weight", "500");
    }, function() {
      $("." + $(this).attr('class').split(" ")[1].toString()).css("background-color", "unset");
      $("." + $(this).attr('class').split(" ")[1].toString()).css("font-weight", "unset");
    });

    function scrolling() {
      var topTitle = $(".hiding").offset().top;
      var topAbt = $("#resume").offset().top;
      var botScreen = $(window).scrollTop() + $(window).innerHeight();
      var topScreen = $(window).scrollTop();
      if (!navOpen) {
        // window.alert("TopTitle: " + topTitle + "topScreen: " + topScreen + "topAbt: " + topAbt + "botScreen: " + botScreen);
        if (topScreen > topTitle && topScreen - topTitle < 200 && !scrol && $(window).width()>450 ) {
          openNav();
          scrol = true;
          $('body').addClass('stop-scrolling');
          setTimeout(() => {
            document.getElementById("about").scrollIntoView(true);
          }, 200);
          setTimeout(() => {
            $('body').removeClass('stop-scrolling');
            scrol = false;
          }, 800);

        } else if (topAbt <= botScreen && !scrol && $(window).width()>450 ) {
          openNav();
        }


      } else if (topAbt >= botScreen && !scrol && $(window).width()>450 ) {
        closeNav();

      }
    }

    window.onscroll = function() {
      scrolling();
    };

    function headerClick(index) {
      var Type = $(".sHeader").attr("class").split(/\s+/)[1].slice(-1);
      var goTo = parseInt(Type) + parseInt(index);
      if (goTo > 2) {
        goTo = 0
      } else if (goTo < 0) {
        goTo = 2;
      }
      $(".sHeader").css("opacity", 0);
      setTimeout(() => {
        switch (goTo) {
          case 0:
            $(".sHeader").text("Programming");
            break;
          case 1:
            $(".sHeader").text("CAD");
            break;
          case 2:
            $(".sHeader").text("Others");
            break;
        }
        $(".sHeader").css("opacity", "unset");
      }, 150);
      $(".sHeader").removeClass("Head" + Type).addClass("Head" + goTo);
      $(".type" + Type).addClass("hideskill");
      $(".type" + goTo).removeClass("hideskill");
    }

    function toggleSidebar(){
      if($(window).width()<451){ if(navOpen) closeNav(); else openNav();}
    }
  </script>
</body>

</html>